.ui-datepicker {
    z-index: 2;
    background: rgba(255, 255, 255, 1);
}

.form-floating>label {
    z-index: 1;
}

.ui-widget-header {
    border: 1px solid var(--bs-primary);
    background: var(--bs-primary);
    color: #ffffff;
    font-weight: bold;
}

.ui-datepicker-calendar {
    background: rgba(255, 255, 255, 1);
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    text-decoration: none;
    border: 1px solid white;
    background: rgba(var(--bs-primary-rgb), 0.5);
    font-weight: bold;
    color: white;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid var(--bs-primary-rgb);
    background: rgba(var(--bs-primary-rgb), 0.8);
    font-weight: bold;
    color: white;
}


/* Switch Size */

.form-switch .form-check-input[type="checkbox"] {
    width: 3rem;
    height: 1.5rem;
}

.form-switch .form-check-input[type="checkbox"]::after {
    width: 3rem;
    height: 1.5rem;
}

/* Add Button */

.center-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-btn {
    width: 80px;
    /* Adjust the width as needed */
    height: 80px;
    /* Adjust the height as needed */
    border-radius: 50%;
    /* Make the button round */
}